---
import Layout from "@/layouts/Layout.astro";
import { stripe } from "@/utils/stripe";

const { session } = Astro.params;

if (!session) {
    return Astro.redirect("/", 302);
}

let invoice, recepit, collected_information;

try {
    const stripeData = await stripe.checkout.sessions.retrieve(session as string);
    collected_information = stripeData.collected_information
    
    
    if (!stripeData.invoice) {
        return Astro.redirect("/", 302);
    }

    invoice = await stripe.invoices.retrieve(stripeData.invoice as string);
}  catch(error) {
    if (error instanceof Error) {
        if (!error.message.includes("No such checkout.session")) {
            console.log(error.message);
        }
    }

    return Astro.redirect("/", 302);
}

---

<Layout title="Checkout - Store">
    <section class="relative w-full min-h-dvh border-t border-teal-500/30 overflow-hidden flex flex-col gap-4">
        <span class="absolute left-1/2 -translate-x-1/2 w-full aspect-square rounded-full bg-teal-900/20 blur-[200px] -z-10"></span>
    
        <header class="py-20">
          <h2 class="text-6xl font-bold text-center mb-8">Pedido Realizado</h2>
          <p class="text-center text-gray-400 text-lg mt-4">
            Gracias por tu pedido. Te contactaremos pronto.
          </p>
        </header>

        <main class="container mx-auto grid gap-16 lg:grid-cols-2 pb-16">
           <div>
                <h2 class="text-4xl font-bold mb-8">Datos de Envío</h2>
                <p class="text-gray-400 text-lg mt-4">
                 {collected_information?.shipping_details?.name || ''}
                 {collected_information?.shipping_details?.address?.line1 || ''} 
                 {collected_information?.shipping_details?.address?.city || ''} 
                 {collected_information?.shipping_details?.address?.state || ''} 
                 {collected_information?.shipping_details?.address?.country || ''} 
                 {collected_information?.shipping_details?.address?.postal_code || ''}
                </p>
           </div>
           <div>
                <a href={invoice?.invoice_pdf} class="text-xl font-bold text-center bg-amber-500 px-4 py-2 rounded-full">Descargar Factura</a>
                {}
           </div>
        </main>

        
      </section>
</Layout>