---
import { navigation } from "@/consts";
import Auth from "@/components/auth.astro";
---

<header class="p-4 bg-black/20 backdrop-blur-md sticky top-0 z-50 flex items-center">
  <nav class="container mx-auto flex justify-between h-12 items-center gap-2">
    <ul class="hidden lg:block">
      {
        navigation.map((item) => (
          <li class="inline-block">
            <a href={item.href} class="text-white hover:bg-white/5 px-4 py-2 rounded transition-colors cursor-pointer">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>

    <a href="/">
      <img src="/assets/logo.webp" class="invert h-8 lg:h-12 object-contain" alt="SupraBox GNS" />
    </a>

   <Auth />
  </nav>
</header>
